---
import Layout from '../layouts/base.astro';
import "../styles/global.css";
---

<Layout>
<div>
	<!--settings-->
	<div>
		hovering indicator
		size (3,4,5,6)
		dimension (2,3,4)
	</div>

</div>
</Layout>
