<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>4D TTT</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Schoolbell&family=Indie+Flower&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"
			is:inline></script>
		<script
			is:inline
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-MVB4BFTE6R"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-MVB4BFTE6R");
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	* {
		font-family: "Schoolbell", cursive;
		font-weight: bold;
	}
</style>
